
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  font-size: 0.8em;
  padding: 5px;
  margin:5px;
}

input{
  font-size: 0.8em;
  padding: 5px;
  margin:5px;
}

.to-do-list{
  margin: 5px;
}

.toDoListButtons{
  border: none;
}
.to-do-list-input{
  border: none;
  background-color:inherit;
  color: inherit;
  margin-top: 15px;
}

.complete{
  text-decoration: line-through;
}
