* {
  cursor: pointer;
}
.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #000;
  background-image: url('../public/bg2.jpg');
  background-size: cover;
}

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-input {
  position: absolute;
  top: 15%;
  right: 50%;
  transform: translate(50%, -50%);
}

.to-do-input button {
  font-size: 0.8em;
  padding: 5px 16px;
  margin: 5px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

input {
  font-size: 0.8em;
  padding: 5px;
  margin: 5px;
  border: none;
}

.to-do-list-container {
  margin-top: 50px;
  height: 500px;
  overflow: auto;
}

.toDoListButtons {
  border: none;
  padding: 8px;
  font-size: 0.6em;
}

.done-btn {
  border-top-left-radius: 15px;
}

.delete-btn {
  border-bottom-right-radius: 15px;
}

.to-do-list-input {
  border: none;
  background-color: inherit;
  color: inherit;
  margin-top: 15px;
}

.complete {
  text-decoration: line-through;
}